@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");

body {
  background-color: #edf2f8;
  height: 100%;
}

#mainDiv {
  width: 780px;
  height: 300px;
  background: white;
  box-shadow: 0 10px 40px 0 rgba(209, 209, 209, 0.171),
    0 6px 20px 0 rgba(189, 189, 189, 0.158);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(90%);
}

.drawersTable {
  background-image: url(./assets/drawers.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.titleDiv {
  padding-top: 20px;
  padding-left: 340px;
  width: 375px;
}

.paragDiv {
  padding-left: 340px;
  width: 375px;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  font-size: 22px;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
  font-size: 13px;
  line-height: 1.7;
}

.userShare {
  width: 100%;
  padding-left: 340px;
}

.userName {
  width: 25%;
  padding-left: 340px;
}

div.grid {
  padding-top: 10px;
  padding-left: 260px;
  width: 550px;
  overflow: hidden;
}

div.grid div {
  float: left;
  height: 80px;
}
div.UserAvatar {
  padding-left: 40px;
  width: 100px;
}
div.buttonDiv {
  padding-top: 5px;
  padding-left: 100px;
  width: 20px;
}
div.userName {
  padding-top: 5px;
  padding-left: 2px;
  width: 200px;
  font-family: "Manrope", sans-serif;
  font-size: 11pt;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

div.clear {
  clear: both;
}

.dateUser {
  position: absolute;
  margin-top: -45px;
  width: 100px;
  padding-left: 400px;
  font-family: "Manrope", sans-serif;
  font-size: 11pt;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}

.buttonShare {
  margin-top: -80px;
  background-image: url(./assets/icon-share.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border: 0px;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.buttonShare:hover {
  margin-top: -80px;
  background-color: hsl(217, 19%, 35%);
  background-image: url(./assets/icon-share_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  filter: contrast(80%);
  border: 0px;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.buttonDivMobile {
  display: none;
}

.arrow_box {
  position: absolute;
  margin-left: -160px;
  margin-top: -80px;
  background-color: #48556b;
  border-radius: 12px;
  height: 55px;
  width: 275px;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.arrow_box:after {
  border-color: rgba(72, 85, 107, 0);
  border-top-color: #48556b;
  border-width: 20px;
  margin-left: -20px;
  box-shadow: 2px 30px 30px 1px rgba(0, 0, 0, 0.2);
}

.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-width: 0px;
  margin-left: 30px;
}
.arrow_box:before {
  border-color: rgba(72, 85, 107, 0);
  border-top-color: #48556b;
  border-width: 16px;
  margin-left: -12px;
}

div.newGrid {
  width: 325px;
}
div.newGrid div {
  float: left;
  height: 55px;
}
div.textCont {
  width: 20px;
  padding-left: 40px;
  padding-top: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #9faec3;
  font-size: 15px;
  letter-spacing: 8px;
}

div.faceShare {
  padding-left: 85px;
  padding-top: 15px;
  width: 20px;
  cursor: pointer;
}
div.twitterShare {
  padding-left: 15px;
  padding-top: 17px;
  width: 20px;
  cursor: pointer;
}
div.pinterShare {
  padding-left: 15px;
  padding-top: 15px;
  width: 20px;
  cursor: pointer;
}

div.clear {
  clear: both;
}

.shareMobile {
  display: none;
  padding-top: 200px;
  width: 200px;
}

/*Mobile CSS 768px*/

@media only screen and (max-width: 768px) {
  #mainDiv {
    position: relative;
    margin: auto;
    top: 00%;
    transform: translateY(000%);
    box-sizing: border-box;
    height: 520px;
    width: 355px;
    margin-bottom: 20px;
    border: 1px solid #e6ecf0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 14px 0 #f0f0f8;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .drawersTable {
    background-image: url(./assets/drawers.jpg);
    background-size: cover;
    width: 355px;
    height: 235px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .titleDiv {
    padding-top: 250px;
    padding-left: 30px;
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    font-size: 15px;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 768px) {
  .paragDiv {
    padding-left: 30px;
    width: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .userShare {
    width: 100%;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .userName {
    width: 25%;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  div.grid {
    padding-top: 10px;
    padding-left: 0px;
    width: 550px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  div.grid div {
    float: left;
    height: 80px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  div.UserAvatar {
    padding-left: 15px;
    width: 75px;
  }
}

@media only screen and (max-width: 768px) {
  div.buttonDiv {
    padding-top: 5px;
    padding-left: 70px;
    width: 36px;
    height: 36px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  div.userName {
    padding-top: 5px;
    padding-left: 0px;
    width: 130px;
    font-family: "Manrope", sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
  }
}

@media only screen and (max-width: 768px) {
  .buttonShare {
    margin-top: 0px;
    background-color: hsl(210, 46%, 95%);
    background-image: url(./assets/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: 0px;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    margin-top: -80px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  div.newGrid {
    width: 400px;
  }
  div.newGrid div {
    float: left;
    height: 36px;
  }
  div.textCont {
    width: 20px;
    padding-left: 40px;
    padding-top: 25px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: #9faec3;
    font-size: 15px;
    letter-spacing: 8px;
  }

  div.faceShare {
    padding-left: 85px;
    padding-top: 25px;
    width: 20px;
    cursor: pointer;
  }
  div.twitterShare {
    padding-left: 15px;
    padding-top: 27px;
    width: 20px;
    cursor: pointer;
  }
  div.pinterShare {
    padding-left: 15px;
    padding-top: 25px;
    width: 20px;
    cursor: pointer;
  }

  div.shareButtonHover {
    margin-top: 16px;
    background-color: #9faec3;
    background-image: url(./assets/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border: 0px;
    border-radius: 100px;
    margin-left: 50px;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }

  div.clear {
    clear: both;
  }

  .arrow_box {
    position: absolute;
    margin-left: -326px;
    margin-top: 1px;
    background-color: #48556b;
    border-radius: 0px 0px 12px 12px;
    height: 70px;
    width: 353px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .arrow_box:after {
    display: none;
    border-color: rgba(72, 85, 107, 0);
    border-top-color: #48556b;
    border-width: 20px;
    margin-left: -20px;
  }

  .arrow_box:before {
    display: none;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

.shareMobile {
  display: none;
  padding-top: 200px;
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .dateUser {
    position: absolute;
    width: 100px;
    padding-top: 292px;
    padding-left: 90px;
    font-family: "Manrope", sans-serif;
    font-size: 11pt;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
  }
}

@media only screen and (max-width: 768px) {
  .buttonDivMobile {
    display: block;
    padding-top: 28px;
    padding-left: 70px;
  }
}
